CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/.vs/LD50/v16/ipch/AutoPCH/31ed97e8340e7958
/out/build/x64-Debug (default)/LD50
/out/build/x64-Debug (default)/.cmake/api/v1
/out/build/x64-Debug (default)/VSInheritEnvironments.txt
/out/build/x64-Debug (default)/build.ninja
/out/build/x64-Debug (default)/.ninja_log
/out/build/x64-Debug (default)/.ninja_deps
/.vs/LD50/v16
/.vs
